<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cloudiby - {{name}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#37474F">
    <meta property="description" content="@{{user}}"/>
    <meta property="og:sitename" content="Cloudiby"/>
    <meta property="og:title" content="Cloudiby"/>
    <meta property="og:url" content="https://cloudiby.com/"/>
    <meta property="og:description" content="{{name}} - @{{user}}"/>
    <meta property="og:image" content="https://cloudiby.com/favicon.ico"/>
    <link rel="canonical" href="https://cloudiby.com/"/>
    <link rel="icon" href="https://cloudiby.com/favicon.ico"/>
    <link rel="shortcut icon" href="https://cloudiby.com/favicon.ico">
    <link rel="apple-touch-icon" href="https://cloudiby.com/favicon.ico">
    <link rel="apple-touch-icon" sizes="60x60" href="https://cloudiby.com/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cloudiby.com/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cloudiby.com/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cloudiby.com/logo.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://cloudiby.com/logo.png">
    <meta name="msapplication-TileImage" content="https://cloudiby.com/favicon.ico"/>
    <link rel="image_src" href="https://cloudiby.com/logo.png">
  </head>
  <body>
  <script> window.location.href = "{{domain}}/{{link}}"; </script>
  <!-- <script> window.location.href = "https://cloudiby.com/{{link}}"; </script> -->
    <noscript>
      <strong>We're sorry but Cloudiby doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!-- built files will be auto injected -->
  </body>
</html>
